<!DOCTYPE html>
<html>
<body>

<h1>Cars Inventory API</h1>
<p>Car Model</p>
<ul>
  <li>carId</li>
  <li>price</li>
  <li>Model Name</li>
  <li>Company Name</li>
  <li>Release Year</li>
</ul>

<p>List of api's present in the inventory</p>
<ul style="line-height:180%">
  <li><b>"/"</b> --- (home page)</li>
  <li><b>"/cars"</b> ---
    <ul>
      <li>GET Request (to get all the cars)</li>
      <li>Post Request (to add specific car in inventory)</li>
    </ul>
  </li>
  <li><b>"/cars/id"</b> ---
    <ul>
      <li>GET Request --- (to get car with specific id)</li>
      <li>PUT Request --- (to update car with specific id)</li>
      <li>DELETE Request --- (to delete car with specific id)</li>
      <li>PATCH Request --- (updates the given details with id)</li>
    </ul>
  </li>
</ul>


</body>
</html>
